# Escludi il plugin che ha causato il blocco
.obsidian/plugins/remotely-save/

# Escludi file di layout temporanei che cambiano continuamente
.obsidian/workspace.json
.obsidian/last-update.json

# Se vuoi essere ancora più sicuro, ignora tutti i file JS dei plugin
.obsidian/plugins/**/*.js

# Repository esterno rimosso come submodule locale
/First Year/First Semester/Internet of Things and Smart Cities/Labs 25-26/Lab3/bumble_lab/bumble/
